version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: hostelbite-postgres
    environment:
      POSTGRES_DB: hostelbite
      POSTGRES_USER: hostelbite_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
